// src/sass/variables.scss
@import '~vuetify/src/styles/styles.sass';

$primary:green !important;
$secondary:pink !important;

// The variables you want to modify
$font-size-root: 14px;
// For updating SASS lists
$material-light: map-merge($material-light, ( cards: blue ));
$btn-border-radius: 40px !important;
